{% extends 'base/master.html' %}
{% load staticfiles %}

{% block 'title' %} Category {% endblock %}
{% block  'content' %}



<div class="container">

<div class="col-md-6">

    <div class="panel panel-primary">

        <div class="panel panel-heading">

            Add Category
        </div>

            <div class="panel panel-body">
                <form method="post" action="#">
                    {{ form }}
                    {% csrf_token %}
                       <br/>
                         <button type="submit" class="btn btn-success">Save</button>
                     </form>
            </div>
        </div>
</div>


<div class="col-md-6">

    <div class="panel panel-primary">

        <div class="panel panel-heading">
            All Category
        </div>
        <div class="panel-body">

            <table class="table">

                <th>Category</th>
                <th>Date</th>
                <th>Action </th>

                {% for c in cat %}
                    <tr>
                        <td>{{ c.title }}</td>
                        <td>{{ c.date }}</td>
                       <td> <a> <a href=" {% url 'category_edit' c.id %}" class="btn btn-primary btn-sm" > Edit </a> |
                           <a href="#" onclick="delete_('{% url 'category_delete' c.id %}')" class="btn btn-danger btn-sm" > Delete  </a> </td>
                    </tr>
                {% endfor %}

             </table>

        </div>
    </div>
</div>
</div>



{% endblock %}
