{% extends 'base/master.html' %}
{% load staticfiles %}

{% block 'title' %} Income {% endblock %}
{% block  'content' %}



<div class="container">

<div class="col-md-6">

    <div class="panel panel-primary">

        <div class="panel panel-heading">

            Add Income
        </div>

            <div class="panel panel-body">
                <form method="post" action="#">
                    {{ form }}
                    {% csrf_token %}
                       <br/>
                         <button type="submit" class="btn btn-success">Save</button>
                     </form>
            </div>
        </div>
</div>


<div class="col-md-6">


    <div class="panel panel-primary">

        <div class="panel panel-heading">
            Incomes of this month
        </div>
        <div class="panel-body">

            <table class="table">

                <th>Source</th>
                <th>Rupees</th>
                <th>Date</th>
                <th>Action</th>

                {% for i in income %}
                <tr>
                    <td>{{ i.title }}</td>
                    <td>{{ i.rupees }}</td>
                    <td> {{ i.date }}</td>
                    <td> <a href="{% url 'income_edit' i.id %}" class="btn btn-primary btn-sm"> Edit </a> | <a href="#" onclick="delete_('{% url 'income_delete' i.id %}')" class=" btn btn-danger btn-sm"> del </a>  </td>
                </tr>
                {% endfor %}
            <tr>
                <td>Total</td>
                <td>{{ total.rupees__sum }}</td>
            </tr>

            </table>




        </div>
    </div>



 <div class="panel panel-primary">

        <div class="panel panel-heading">
            Incomes of previous month
        </div>
        <div class="panel-body">

            <table class="table">

                <th>Source</th>
                <th>Rupees</th>
                <th>Date</th>
                <th>Action</th>

                {% for i in prevIn %}
                <tr>
                    <td>{{ i.title }}</td>
                    <td>{{ i.rupees }}</td>
                    <td> {{ i.date }}</td>
                    <td> <a href="{% url 'income_edit' i.id %}" class="btn btn-primary btn-sm"> Edit </a> | <a href="#" onclick="delete_('{% url 'income_delete' i.id %}')" class=" btn btn-danger btn-sm"> del </a>  </td>
                </tr>
                {% endfor %}
            <tr>
                <td>Total</td>
                <td>{{ prevTotal.rupees__sum }}</td>
            </tr>

            </table>




        </div>
    </div>





</div>



    </div>



{% endblock %}
